body {
    background-color: white;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: orangered;
    /* justify-content: space-evenly; */
    height: 500px;
    align-items: center;

}
.container div {
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 100px;
    width: 100px;
    color: white;
    border: 2px solid white;
    box-sizing: border-box;
}

